[Desktop Entry]
Name=Dirhamly
Exec=dirhamly
Icon=dirhamly
Type=Application
Categories=Utility;Finance;
Comment=Track expenses and income easily
Terminal=false
StartupWMClass=dirhamly

